@font-face {
    font-family: 'RobotoMono';
    src: url(/assets/RobotoMono-VariableFont_wght.ttf);
}

:root {
  color-scheme: light dark;
  --main-green: #00b755;
  --main-yellow: #daaf38;
  --main-red: #ca4754;
  --main-black: #222;
  --main-gray: #999;
  --sencodary-gray: #333;
  --main-white: #fff;
}

body {
  background: var(--main-black);
  font-family: RobotoMono, monospace;
  display: grid;
  padding: 32px;
  justify-content: center;
  margin-top: 32px;
  padding: 16px;
}

section {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 700px;
}

time {
  color: var(--main-yellow)
}

input {
  z-index: -999;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
}

p {
  display: flex;
  flex-wrap: wrap;
  gap: 3px 8px;
  margin: 0;
}

letter {
  color: var(--main-gray);
  position: relative;
  opacity: 50%;

  &.active::before {
    content: '|';
    color: var(--main-yellow);
    font-size: 14px;
    position: absolute;
    left: -65%;
    animation: 1s blink infinite ease-in-out;
  }

  &.active.is-last::before {
    left: 65%;
  }

  &.correct {
    color: var(--main-white);
    opacity: 100%;
  }

  &.incorrect {
    color: var(--main-red);
    opacity: 100%;
  }
}

word {
  border-bottom: 1.5px solid transparent;
  transition: border-color 0.3s ease-in-out;

  &.marked {
    border-color: var(--main-red);
  }
}

@keyframes blink {

  0%,
  25% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }
}

#game {
  display: flex;
}

#results {
  display: none;
}

h2 {
  font-weight: 400;
  opacity: .4;
  margin: 0;
  font-size: 16px;
  color: var(--main-white);
}

h3 {
  font-weight: 400;
  margin: 0;
  font-size: 24px;
  color: var(--main-yellow);
}

button {
  background: transparent;
  color: var(--main-white);
  border: 0;
  margin-top: 32px;
  padding: 8px;
  opacity: .4;
  display: inline-block;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 16px;

  &:hover {
    background-color: var(--sencodary-gray);
    opacity: 1;
    scale: 110%;
  }
}

/* POPUP LANGAUJE*/
.languaje-button{
  color: var(--sencodary-gray);
  background-color: var(--sencodary-gray);
  align-items: center;
  justify-content: center;
  width: 50%;
}

.languaje-popup {
  z-index: 1000;
  width: 35%;
  background: var(--sencodary-gray);
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  backdrop-filter: blur(5px);
  text-align: center;
  padding-top: 5;
  color: var(--sencodary-gray);
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}

.open-languaje-popup{
  visibility: visible;
  top: 30%;
  transform: translate(-50%, -50%) scale(1);
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px); /* Blur the background */
  z-index: 900;
  display: none;
}

.text-button{
  opacity: 60%;
  color: var(--main-gray);
  cursor: pointer;
}

.text-button:hover{
  opacity: 100%;
  color: var(--main-gray);
  cursor: pointer;
}

ul{
  width: 100%;
  margin: 0;
  padding: 0;
}

li{
  color: var(--main-gray);
  cursor: pointer;
  position: relative;
  list-style-type: none;
  padding: 10;
  margin: 0;
  position: relative;
}

ul li:hover {
  background: var(--main-white);
}